{
  "swagger": "2.0",
  "info": {
    "description": "Documentation for the Beacon API",
    "version": "1.0.0",
    "title": "Beacon API",
    "author": "Lyndsey Padget"
  },
  "host": "beacon-api.com",
  "basePath": "",
  "tags": [
    {
      "name": "beacons"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/beacons": {
      "post": {
        "tags": [
          "beacons"
        ],
        "summary": "Create a beacon",
        "description": "",
        "operationId": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Beacon"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful creation",
            "schema": {
              "$ref": "#/definitions/Beacon"
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "get": {
        "tags": [
          "beacons"
        ],
        "summary": "Get all beacons",
        "description": "",
        "operationId": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "successful retrieval",
            "schema": {
              "$ref": "#/definitions/Beacon"
            }
          }
        }
      }
    },
    "/beacons/{beaconId}": {
      "get": {
        "tags": [
          "beacons"
        ],
        "summary": "Get beacon by id",
        "description": "",
        "operationId": "getBeaconById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "beaconId",
            "in": "path",
            "description": "ID of beacon that needs to be fetched",
            "required": true,
            "type": "string",
            "maximum": 12,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Beacon"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Beacon not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
  },
  "definitions": {
    "Beacon": {
      "type": "object",
      "properties": {
        "minorId": {
          "type": "string"
        },
        "majorId": {
          "type": "string"
        },
        "UUID": {
          "type": "string"
        },
        "Manufacturer": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Beacon"
      }
    }
  }
}
